/* * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
} */

html,
body {
  overflow-x: hidden;
  height: 100%;
}

body {
  background: #4da0b0;
  padding: 0;
  margin: 0;
  font-family: "Jura", sans-serif;
}

#header-info {
  text-align: center;
  width: 100%;
  color: #4da0b0;
  text-transform: uppercase;
  padding: 30px 0;
  text-decoration: none;
  font-weight: 900;
}

.header {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  box-shadow: none;
  background-color: #403a3e;
  position: fixed;
  height: 100px !important;
  overflow: hidden;
  z-index: 10;
}

.main {
  margin: 0 auto;
}

.mainInner {
  padding-top: 120px;
}

.mainInner div {
  font-weight: bold;
  letter-spacing: 1.25px;
  margin: 0 auto;
}

.card {
  background: #114357;
  border-radius: 30px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.12), 0 50px 45px rgba(0, 0, 0, 0.24);
  width: 30rem;
}

.card:hover {
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.card-title {
  color: rgb(222, 218, 218);
  font-weight: bolder;
  font-size: 25px;
}

#vlads-social {
  display: flex;
}

#vlads-social > a {
  margin-left: 15px;
  font-size: 20px;
}

#mikes-social {
  display: flex;
  font-size: 25px;
}

#mikes-social > a {
  margin-left: 15px;
  font-size: 20px;
}

.card-text {
  color: rgb(222, 218, 218);
}

.list-group-item{
  background: #4da0b0;
}

img {
  height: 600px;
  margin-top: 10px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.12), 0 50px 45px rgba(0, 0, 0, 0.24);
}

#contactBtn {
  width: 150px;
  margin: 0 auto;
  border: none;
  margin-top: 50px;
  border-radius: 10px;
  text-decoration: none;
  background: #114357;
  text-align: center;
  padding: 10px;
  color: rgb(222, 218, 218);
}

#contactBtn:hover {
  background: rgb(222, 218, 218);
  color: black;
}

#sidebarMenu {
  height: 100%;
  position: fixed;
  left: 0;
  width: 250px;
  margin-top: 100px;
  transform: translateX(-250px);
  transition: transform 250ms ease-in-out;
  background: linear-gradient(180deg, #114357 0%, #4da0b0 100%);
  z-index: 5;
}

.sidebarMenuInner {
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(104, 39, 39, 0.1);
}

.user-picture {
  height: 210px;
}

.sidebarMenuInner li {
  list-style: none;
  color: rgb(222, 218, 218);
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebarMenuInner li:hover {
  background-color: black;
}

.sidebarMenuInner li span {
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.sidebarMenuInner li a {
  color: rgb(222, 218, 218);
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

input[type="checkbox"]:checked ~ #sidebarMenu {
  transform: translateX(0);
}

input[type="checkbox"] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}

.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  /* height: 100%; */
  width: 100%;
  top: 22px;
  left: 15px;
  width: 40px;
}

.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #4da0b0;
  margin-top: 20px;
}

.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 5px;
}

.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}

.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 5px;
}

input[type="checkbox"]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}

input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 25px;
}

input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -10px;
}
