/* Applies to all sections of HTML */

body {
    font-family: 'Fjalla One', sans-serif;
}

/* Home-Page */
main {
    width: 95%;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    display: flex;
    background-color:#1a1a1d;
    color: #FFF;
}

main > div {
    margin: auto;
    text-align: center;
}

img {
    width: 300px;
    height: 300px;
    margin: 15px;
}

#continue-button {
    padding: 10px;
    margin: 15px;
    font-size: 30px;
}

h6 {
    font-size: 85px;
}

h6 .lets-hang{
    display: none;
}

h6:hover .title{
    display: none;
}

h6:hover .lets-hang{
    display: inline;
    color: #c3073f;
    font-size: 180px;
}
#slogan {
    margin: 25px;
    color:#c3073f;
    font-size: 45px;
}

#submit-message{
    color: #4e4e50;
    margin: 25px;
}

/* Dashboard Page */
#signup-page {
    display: flex;
    background-color: #4e4e50;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #1a1a1d;
}

#signup-page {
    margin: 100px 250px 0px 250px;
    justify-content: center;
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
    background-color:#6c757d;
}

form {
    border: 1px solid #FFF;
    padding-bottom: 40px;
    padding-top: 40px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 8px 4px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.signup-form-icon {
    font-size: 100px;
    display: flex;
    justify-content: center;
    color: #4286f4;
}

#signup-button {
    background-color: #4286f4;
    color: white;
    padding: 14px 0;
    border: none;
    cursor: grab;
    width: 28%;
    margin-bottom: 25px;
}

#github-button {
    color: white;
    background-color: green;
    padding: 14px 0;
    border: none;
    cursor: grab;
    width: 28%;
    margin-bottom: 25px;
}

h2 {
    text-align: center;
    margin: 15px;
}

h1 {
    text-align:center;
    font-size: 38px;
    font-weight: bolder;
}

button:hover {
    opacity: 0.8;
}

.formcontainer {
    text-align: center;
    margin: 24px 50px 12px;
}

input {
    background:#FFF;
}

.container {
    padding: 16px 0;
    text-align:left;
    width: 50%;
    margin-bottom: 20px;
}

span.psw {
    float: right;
    padding-top: 0;
    padding-right: 15px;
}

/* Change styles for span on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
}
