/* Applies to all sections of HTML */

body {
    font-family: 'Jura', sans-serif;
}

/* Home-Page */
main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    display: flex;
    color: #FFF;
    z-index: 10;
    /* background-image: url('https://i.pinimg.com/originals/de/fa/28/defa283a2b0cec1ebabede862375bfb6.jpg'); */
}

#myVideo {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    background: #232a34;
    z-index: -10;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    /* opacity: 0.8; */
}

main > div {
    margin: auto;
    text-align: center;
}

img {
    width: 300px;
    height: 300px;
    margin: 15px;
}

#continue-button {
    padding: 10px;
    margin: 15px;
    font-size: 30px;
}

h6 {
    font-size: 85px;
}

h6 .lets-hang{
    display: none;
}

h6:hover .title{
    display: none;
}

h6:hover .lets-hang{
    display: inline;
    color: #c3073f;
    font-size: 180px;
}
#slogan {
    margin: 25px;
    color:#c3073f;
    font-size: 45px;
}

#submit-message{
    color: #4e4e50;
    margin: 25px;
}


/* Change styles for span on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
}
