* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

h2 {
  text-align: center;
  font-size: 45px;
  background-color: gray;
  padding-top: 35px;
  padding-bottom: 35px;
}


h3 > span {
  font: outline;
  font-size: 25px;
  font-style: initial;
  font-weight: 200;
}

#profile-info {
  display: inline;
}

img {
  margin-top: -60px;
  height: 300px;
  width: 300px;
  margin-left: 25px;
  border-radius: 50%;
  margin-bottom: 15px;
  float: left;
  margin-right: 25px;
}

.github-name {
  color: blue;
}

body {
  background-color: #f3f5f9;
}

.wrapper {
  display: flex;
  position: relative;
}

#dash {
  text-decoration: none;
}

.wrapper .sidebar {
  width: 200px;
  height: 100%;
  background: rgb(130, 149, 155);
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h3 {
  color: black;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 30px;
  margin-bottom: 20px;
  margin-left: 15px;
  font-size: 25px;
}

.wrapper .sidebar ul li {
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  margin-left: -35px;
}

.wrapper .sidebar ul li a {
  color: black;
  display: block;
  text-decoration: none;
  font-size: 20px;
}

.wrapper .sidebar ul li a .fas {
  width: 25px;
}

.wrapper .sidebar ul li:hover {
  background-color: #bdb8d7;
}

.wrapper .sidebar ul li:hover a {
  color: #fff;
}

.wrapper .main_content {
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .header {
  padding: 20px;
  background: #fff;
  color: #4e4e50;
  border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info {
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main_content .info div {
  margin-bottom: 20px;
}

#create_form {
  background-color: #4e4e50;
  margin-bottom: 5px;
  color: white;
  padding: 3px 6px;
  font-family: "Fjalla One", sans-serif;
}

@media (max-height: 500px) {
  .social_media {
      display: none !important;
  }
}


/**********************************BELOW IS SOCKET CSS*********************************************/
#socket_content {
  width: 0px;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  height: 100%;
  /* margin: 50; */
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */
.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  /* width: 100%; */
}

.page {
  height: 195%;
  position: absolute;
  width: 83%;
  margin-top: 85px;
  margin-left: 10px;
}

/* Login Page */

.login.page {
  background-color: #000;
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title,
.login.page .usernameInput {
  color: red;
  font-weight: 400;
}

/* Chat page */

.chat.page {
  display: none;
}

/* Font */

.messages {
  font-size: 150%;
}

.inputMessage {
  font-size: 100%;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.chatArea {
  height: 100%;
  padding-bottom: 60px;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
  color: gray;
}

.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */

.inputMessage {
  border: 10px solid #000;
  bottom: 0;
  height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: absolute;
  right: 0;
  width: 100%;
}
