* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Fjalla One', sans-serif;
  }
  
  body {
    background-color: #f3f5f9;
  }
  
  .wrapper {
    display: flex;
    position: relative;
  }
  
  #dash{
    text-decoration: none;
  }
  
  .wrapper .sidebar {
    width: 200px;
    height: 100%;
    background:#950740;
    padding: 30px 0px;
    position: fixed;
  }
  
  .wrapper .sidebar h3 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Fjalla One', sans-serif;
    margin-bottom: 20px;
  }
  
  .wrapper .sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid #bdb8d7;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
  }
  
  .wrapper .sidebar ul li a {
    color: #fff;
    display: block;
    text-decoration: none;
  }
  
  .wrapper .sidebar ul li a .fas {
    width: 25px;
  }
  
  .wrapper .sidebar ul li:hover {
    background-color: #bdb8d7;
  }
  
  .wrapper .sidebar ul li:hover a {
    color: #fff;
  }
  
  .wrapper .main_content {
    width: 100%;
    margin-left: 200px;
  }
  
  .wrapper .main_content .header {
    padding: 20px;
    background: #fff;
    color: #4e4e50;
    border-bottom: 1px solid #e0e4e8;
  }
  
  .wrapper .main_content .info {
    margin: 20px;
    color: #717171;
    line-height: 25px;
  }
  
  .wrapper .main_content .info div {
    margin-bottom: 20px;
  }

  @media (max-height: 500px) {
    .social_media {
      display: none !important;
    }
  }
/**********************************BELOW IS SOCKET CSS*********************************************/


html {
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

html,
input {
  font-family: 'Fjalla One', sans-serif;
}

html,
body {
    height: 100%;
    /* margin: 50; */
    padding: 0;
}

ul {
    list-style: none;
    word-wrap: break-word;
}

/* Pages */

 .pages {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}  

.page {
    /* height: 100%; */
    /* position: absolute; */
    width: 100%;
} 

/* Login Page */

.login.page {
    background-color: #1a1a1d;;
    width: 100%;
}

.login.page .form {
    /* height: 100px; 
    margin-top: -100px; 
    position: absolute; */
    text-align: center;
    /* top: 50%;  
    width: 100%;  */
}

.login.page .form .usernameInput {
    /* background-color: transparent;
    color: black;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    padding-bottom: 15px;
    text-align: center;
    width: 100%; */
} 

.login.page .form .usernameInput {
    background:#FFF;
    outline: none;
    color: #950740;
    height: 50%;
    margin: 15px 0;
    font-family: 'Fjalla One', sans-serif;

}

.login.page .title {
    font-size: 200%;
    text-align: center;
    margin: 0 auto;
}

.login.page .usernameInput {
    font-size: 200%;
    letter-spacing: 3px;
    
}

.login.page .title,
.login.page .usernameInput {
    color: #fff;
    font-weight: 100;
    font-family: 'Fjalla One', sans-serif;
}

/* Chat page */

.chat.page {
    /* display: none; */
    padding-bottom: 0;
}

/* Font */

.messages {
    font-size: 150%;
    color:black;
}

.inputMessage {
    font-size: 100%;
    color:black;
}

.log {
    color: gray;
    font-size: 70%;
    margin: 5px;
    text-align: center;
}

/* Messages */

.chatArea {
    height: 100%; 
    padding-bottom: 60px;
}

.messages {
    height: 100%;
    margin: 0;
    overflow-y: scroll;
    padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
    color: black;

}

.username {
    font-weight: 700;
    overflow: hidden;
    padding-right: 15px;
    text-align: right;
}

/* Input */

.inputMessage {
    border: 3px solid #1F2833;
    bottom: 0;
    height: 60px;
    left: 0;
    outline: none;
    padding-left: 10px;
    /* position: absolute; */
    right: 0;
    width: 100%;
}

.chat-location {  
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    margin-bottom: 0;
    padding-top:20px;
    padding-bottom: 20px;
    border-top: 3px solid #1F2833;
    background-color: lightslategray;
    position: fixed;
    
  }